---
// Astro에 오신 것을 환영합니다! 삼중 대시 코드 펜스 사이 모든 것이 "컴포넌트 프런트매터"입니다. 브라우저에서는 절대 실행되지 않습니다.
console.log('This runs in your terminal, not the browser!');
---
<!-- 아래는 "컴포넌트 템플릿"입니다. HTML일 뿐이지만
    훌륭한 템플릿을 구축하는 데 도움이 되는 몇 가지 마법이 추가되었습니다. -->
<html>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>